#map {
  max-width: 1000px;
  height: 70vh;
  margin: auto;
}

.splide.is-initialized, .splide.is-rendered {
  height: 20vh !important;
}

.splide__slide {
  cursor: pointer;
}

.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  margin-top: 2px;
  background: #ff5a7b;
  height: 4px;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
  width: 0;
}

#photos {
  max-width: 1000px;
  margin: auto;
}

#photos img {
  height: 100%;
  border: 1px solid white;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

.flex-container .item:first-child {
  margin-left: auto;
}

.flex-container .item:last-child {
  margin-right: auto;
}

.marker-cluster-small {
  background-color: transparent;
}

.marker-cluster-red div {
  background-color: rgba(255, 90, 123, 0.8);
}

.marker-cluster-green div {
  background-color: rgba(110, 107, 255, 0.8);
}

.marker-cluster-medium {
  background-color: transparent;
}

.mycluster {
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}

#comparison-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
}

#comparison {
  max-width: 100%;
  height: 66vh;
  margin: auto;
}

#before, #after {
  height: 100% !important;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 33px;
}

.splide__slide p {
  position: absolute;
  background-color: #000556;
  top: 5px;
  left: 0;
  margin: 0 5px;
  color: white;
}

.pulse {
  display: block;
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  30% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  30% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=styles.css.map */