#map{ 
    max-width: 1000px; 
    height: 70vh;
    margin: auto;
}

.splide.is-initialized, .splide.is-rendered {
    height:20vh !important;
}

.splide__progress__bar {
    height: 3px;
    background: #ccc;
  }

#photos {
    max-width: 1000px;     
    margin: auto;       
}

#photos img {        
    height: 100%;
    border: 1px solid white;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}

.flex-container .item:first-child {
    margin-left: auto;
}

.flex-container .item:last-child {
    margin-right: auto;
}



.marker-cluster-small {
    background-color:  rgba(240, 194, 12, 0.4);
}

.marker-cluster-small div {
    background-color:  rgba(240, 194, 12, 0.4);
}

.marker-cluster-medium {
    background-color: rgba(255, 0, 0, 0.4);
}

.marker-cluster-medium div {
    background-color: rgba(255, 0, 0, 0.4);
}